.wrap {
	width: 450px;
	height: 300px;
	border: 1px solid black;
	margin: 0 auto;
}
img {
	widows: 30px;
	height: 30px;
	margin-left: 110px;
}

.box1{
position:relative;
width: 100px;
height: 30px;
border:2px solid red;
border-radius:20px;
padding:1px;
margin:40px auto;
}
.item1{
position:absolute;
width: 30px;
height: 30px;
background:tomato;
top:1px;
left:1px;
border-radius:20px;
transition:0.5s;
}
.box2{
position:relative;
width: 100px;
height: 30px;
border:2px solid red;
border-radius:20px;
padding:1px;
margin:40px auto;
}
.item2{
position:absolute;
width: 30px;
height: 30px;
background:tomato;
top:1px;
left:1px;
border-radius:20px;
transition:0.5s;
}
.box3{
position:relative;
width: 100px;
height: 30px;
border:2px solid red;
border-radius:20px;
padding:1px;
margin:40px auto;
}
.item3{
position:absolute;
width: 30px;
height: 30px;
background:tomato;
top:1px;
left:1px;
border-radius:20px;
transition:0.5s;
}