body {
background-color: lightblue;
}
header {
	height: 55px;
	width: 100%;
	background-color: lightgrey;
	text-align: center;
	padding-top: 5px;
}
.wrap {
	height: 1200px;
	background-color: lightblue;
}
.fixed{
	position: fixed;
	/*top: 15px;*/
}